							    <div class="row-fluid disablekeywords"></div>
							    <div class="row-fluid">
							    	<div class="span4">
							    		<label>Keyword</label>
							    	</div>
							    	<div class="span8 text1 keywords-div">
							    		<div class="txt_keywords" id="addKeyWords"></div>
							    	</div>
							    </div>
							    <div class="row-fluid">
							    	<div class="span4"></div>
							    	<div class="span8">
							    		<input id="addKeyWordTxt" class="span12" onKeyDown="CountLeft(addKeyWordTxt, Count_left_keyword,30);" onKeyUp="CountLeft(addKeyWordTxt,Count_left_keyword,30);" type="text" name="Count_text_Keyword" maxlength="30"/>
										<span id="left1" class="pull-right">
											<input class="remove pull-right" disabled="disabled" readonly="readonly" type="text" id="Count_left_keyword" size="3" value="30" />
										</span>
							    	</div>
							    	
							    </div>
							    <button class="btnAddKeyword pull-right" id="btn_addKeyword" style="margin-top: 13px;" type="button"></button>