  <div class="row-fluid">
							    	<div class="span4">
							    		<img class="publish_Mand publishMandatory" src="imgs/Buttons/pub_required.png">
							    		<label>Activity Type</label>
							    	</div>
							    	<div class="disableWebFeatures"></div>
							       	<div class="span8">
							    		<div id="slct_activity" class="wrapper-dropdown-3 " tabindex="1">
												<% _(model.contentTypeMetaData).each(function(obj) {
										if(obj.name ===constants.activity){ %>
											 <span style="" id="activity_span"class="dropdown-span" 
											 metadataId = <%=obj.id %> 
											 is-multivalued = <%=obj['is-multivalued'] %> >Select
											</span>
											<ul class="dropdown">
											   <% _(obj.options).each( function(opt) { %>
												<li ><a href="#" ><%= opt %></a></li>
												<% }) } }) %>
											</ul>
										</div>
							    		
									</div>
							    </div>
							    <div class="row-fluid">
							    	<div class="span4">
							    		<label>Difficulty Levels</label>
							    	</div>
							    	<div class="span8">
							    		<div id="slct_difficulty" class="wrapper-dropdown-3 " tabindex="1">
										
												<% _(model.contentTypeMetaData).each(function(obj) {
									if(obj.name ===constants.difficulty){ %>
										<span style="" id="difficulty_span" class=" dropdown-span" 
										metadataId = <%=obj.id %> >Select</span>
											<ul class="dropdown">
											 <%    _(obj.options).each( function(opt) { %>
												<li><a href="#" ><%= opt %></a></li>
												<% }) } }) %>
											</ul>
										</div>
							    		
									</div>
							    </div>
							    <div class="row-fluid">
							    	<div class="span4">
							    		<label>Languages</label>
							    	</div>
							    	<div class="span8">
							    		<div id="slct_languages" class="wrapper-dropdown-3 " tabindex="1">
												<% _(model.contentTypeMetaData).each(function(obj) {
										if(obj.name ==constants.language){ %>
											 <span style="" id="language_span"class=" dropdown-span" 
											 metadataId = <%=obj.id %> 
											 is-multivalued = <%=obj['is-multivalued'] %>
											 >Select
											</span>
											<ul class="dropdown">
											  <%  _(obj.options).each( function(opt) { %>
												<li ><a href="#" ><%= opt %></a></li>
												<% }) } }) %>
											</ul>
										</div>
							    		
									</div>
							    </div>
							    <div class="row-fluid">
							    	<div class="span4"><label>Restrictions</label></div>
							    	<div class="span8">
							    		<div id="slct_restrictions" class="wrapper-dropdown-3 " tabindex="1">
												<% _(model.contentTypeMetaData).each(function(obj) {
									if(obj.name ===constants.restrictions){ %>
										<span style="" id="restriction_span" class="dropdown-span"
										metadataId = <%=obj.id %>
										is-multivalued = <%=obj['is-multivalued'] %> >
										Select
									</span>
											<ul class="dropdown">
											 <%   _(obj.options).each( function(opt) { %>
												<li>
												<a href="#" ><%= opt %></a>
												</li>
												<% }) } }) %>
											</ul>
										</div>
							    		
									</div>
						    	</div>
							    <div class="row-fluid">
							    	<div class="span4">
							    		<label>Plug-in</label>
							    	</div>
							    	<div class="span8">
							    		<div id="slct_plug_ins" class="wrapper-dropdown-3 " tabindex="1">
												<% _(model.contentTypeMetaData).each(function(obj) {
									if(obj.name ===constants.plugin){ %>
										<span style="" id="plugin_span" class="dropdown-span"
										metadataId = <%=obj.id %> 
										is-multivalued = <%=obj['is-multivalued'] %>
										>Select</span>
											<ul class="dropdown">
											   <% _(obj.options).each( function(opt) { %>
												<li>
												<a href="#" ><%= opt %></a>
												</li>
												<% }) } }) %>
											</ul>
										</div>
							    		
									</div>
							    </div>
						       	<div class="row-fluid">
						    		<div class="span4">
						    			<label style="top: 18px;position: relative;">Audio Support reading?</label>
						    		</div>
						    		<div class="span8" style="margin-bottom: 30px;margin-top:22px;">
						    		<% _(model.contentTypeMetaData).each(function(obj) {
								if(obj.name ===constants.audioSupport){ %>
						    			<p style="display:inline-block"><input type="radio" name="radioAutosupport" id="rad11" value="true" 
						    			metadataId = <%=obj.id %> ><label for="rad11">Yes</label></p>
						    			&nbsp;&nbsp;&nbsp;
										<p style="display:inline-block"><input type="radio" name="radioAutosupport" id="rad12" value="false"
										metadataId = <%=obj.id %> ><label for="rad12">No</label></p>
										<% }})  %>
									</div>
						    	</div> 
							   <!--  <div class="row-fluid">
							    <div class="span4">
							    	<label>Account required?</label>
							    </div>
							    	<div class="span8" style="margin-bottom: 30px;">
							    	<% _(model.contentTypeMetaData).each(function(obj) {
								if(obj.name ===constants.acctRequired){ %>
							    		<p style="display:inline-block"><input type="radio" class="regular-radio" id="rad21" name="radioAcctrequired" value="true"
							    		metadataId = <%=obj.id %> ><label for="rad21">Yes</label></p>
							    			&nbsp;&nbsp;&nbsp;
										<p style="display:inline-block"><input type="radio" class="regular-radio" id="rad22" name="radioAcctrequired" value="false"
										metadataId = <%=obj.id %> ><label for="rad22">No</label></p>
										<% }})  %>
									</div>
							    </div>  -->
							    <div class="row-fluid multiplayer-main">
							    	<div class="span4">
							    		<label>Multi-player?</label>
							    	</div>
							    	<div class="span8" >
							    	<% _(model.contentTypeMetaData).each(function(obj) {
								if(obj.name ===constants.multiPlayer){ %>
							    		<p style="display:inline-block"><input type="radio" id="rad31" class="regular-radio" name="radioMultiplayer" value="true"
							    		metadataId = <%=obj.id %> ><label for="rad31">Yes</label></p>
							    			&nbsp;&nbsp;&nbsp;
										<p style="display:inline-block"><input type="radio" id="rad32" class="regular-radio" name="radioMultiplayer" value="false"
										metadataId = <%=obj.id %> ><label for="rad32">No</label></p>
										<% }})  %>
									</div>
							    </div> 	

								<div class="row-fluid">
									<div class="span4">
										<label>Works on iPad</label>
									</div>
									<div class="span8" >
										<% _(model.contentTypeMetaData).each(function(obj) {
										if(obj.name ===constants.multiPlayer){ %>
										<p style="display:inline-block"><input type="radio" id="radipad1" class="regular-radio" name="radioWorksOnIpad" value="true"
										metadataId = <%=obj.id %> ><label for="radipad1">Yes</label></p>
										&nbsp;&nbsp;&nbsp;
										<p style="display:inline-block"><input type="radio" id="radipad2" class="regular-radio" name="radioWorksOnIpad" value="false"
										metadataId = <%=obj.id %> ><label for="radipad2">No</label></p>
										<% }})  %>
									</div>
								</div> 	 