<div>
	<input type="image" src="imgs/pl_close_button.png" name="image" id="closeBulkupload"  class="bulkUploadClose" >
	<ul>
		<!-- <li><p>This feature is available for IE10 and higher versions of IE</p></li> -->
		<li><p>Output will be available in a seperate sheet of input file as 'Bulk-upload Results'</p></li>
	</ul>

<div id="bulkuploadSpinner" class="bulkupload-spinner">
 </div>

<div class="bulkupload-div" id="bulkuploadDiv" >
	<input  type="file" id="filename" name="filename" 
value="" >
	<br/>
	<input type="button" id="btnBulkupload" value="Upload" >
</div>

<img class='loadingImg-bulkupload' id="imgBulkuploadLoading" src='imgs/spinner.gif'/>


<ul id="bulkuploadSuccessMsg" class="bulkupload-successmsg"></ul>
<ul id="bulkuploadErrorMsg" class="bulkupload-errormsg">
</ul>
</div>