 <div class="cover1"></div>
                        <div class="th-list" id="showAll_All" name="all">
                          <a id="hrefAll">All
                          <span class="pull-right">
                            <%= all %>
                          </span>
                        </a>
                          <hr class="endTag"/>
                        </div>
                        <div class="th-list" id="showAll_BookMark" name="bookmarked">
                          <a id="hrefBookmarked" >
                            Bookmarked
                            <span class="pull-right">
                              <%= bookmarked %>
                            </span></a><hr class="endTag"/>
                        </div>
                        <div class="th-list" id="showAll_OwnedByMe" name="ownedbyme">
                          <a id="hrefOwnedbyme">Owned by Me
                            <span class="pull-right">
                              <%= ownedByMe %>
                            </span>
                          </a>
                          <hr class="endTag"/>
                        </div>
                        <div class="th-list" id="showAll_DLAs" name="dla">
                          <a id="hrefDla">DLAs
                            <span class="pull-right">
                              <%= dla %>
                            </span>
                          </a>
                          <hr/>
                        </div>
                        <div class="th-list" id="showAll_PlayList" name="playlist">
                          <a id="hrefPlaylist">
                            Playlist
                            <span class="pull-right">
                              <%= playlist %>
                            </span>
                          </a><hr/>
                        </div>
                        <div class="th-list" id="showAll_TeacherPlan" name="teacherplan">
                          <a id="hrefTeacherplan">
                            Teachers Plans
                            <span class="pull-right">
                              <%= teacherPlan %>
                            </span>
                          </a><hr/>
                        </div>
                        <div class="th-list" id="showAll_Drafts" name="draft">
                          <a id="hrefDraft">Drafts
                            <span class="pull-right">
                              <%= draft %>
                            </span>
                          </a><hr class="endTag"/>
                        </div>
                        <div class="th-list" id="showAll_Preview" name="READY_FOR_REVIEW">
                          <a id="hrefREADY_FOR_REVIEW">Ready for Review
                            <span class="pull-right">
                              <%= readyToReview %>
                            </span>
                          </a><hr/>
                        </div>
                        <div class="th-list" id="showAll_Publish" name="READY_TO_PUBLISH">
                          <a id="hrefREADY_TO_PUBLISH">Ready to Publish
                          <span class="pull-right">
                            <%= readyToPublish %>
                          </span>
                        </a><hr/>
                        </div>
                        <div class="th-list" id="showAll_Published" name="published">
                          <a id="hrefPublished">
                            Published
                            <span class="pull-right">
                              <%= published %>
                            </span>
                          </a><hr/>
                        </div>
                        <div class="th-list" id="showAll_Errors" name="UNPUBLISHED_DISQUALIFIED">
                          <a id="hrefUnpublishedDisqualified">
                            Unpublished / Disqualified
                            <span class="pull-right" >
                              <%= unpublishedDisqualified %>
                            </span>
                          </a><hr class="endTag"/>
                        </div>
                        <div class="th-list" id="showAll_Errors" name="error">
                          <a id="hrefError" style="color:red;">
                            Errors
                            <span class="pull-right" style="color: red;">
                              <%= error %>
                            </span>
                          </a>
                        </div>
