
          		<h4 style="margin-top: 0;margin-bottom: 27px;">Define Users and Roles.</h4>
          		<input type="text" id="inputEmail" placeholder="Email"><select class="input-small" id="user-role">
          			<option value="" disabled selected style='display:none;'>Select</option>
				</select><button class="btn btn-info " type="button" id="add" >Add</button>
				<div id="userListMainDiv">
					<div id="userLoadingImg" class="userSpinner"></div>
			        <ul id="user-list" class="ul_addedUser">			        	
			        </ul>			        
			    </div> 

			    <button class="btn btn-info " type="button" id="done" >Save</button>
					<!-- <ul id="user-list">
				     </ul> -->
			
				
