<table  class="body_scroll" id="fixedTable" >
    <thead>
        <tr class="Trh">
            <th style="width: 20px"><!-- <center> -->
                <img id="deleteHeader" style="display:none;margin-right: -2px;margin-top: -14px;width: 10px;" src="imgs/icon_close.png"/>
                <input type="checkbox" id="chbx1" class="regular-checkbox" /><label for="chbx1"></label>
                <!-- <input type="checkbox" id="chbx1"/></center> -->
            </th>
            <th style="width: 20px"><center><i class="icon-star "></i></center></th>
            <th style="width: 20px"><center><img class="error_icon" src="imgs/alert.png"></center></th>
            <th id="headerTitle" value="title" >Title</th>
            <th id="headerAuthor" value="author-name" >Author</th>
            <th id="headerDatecreated" value="created-time" class="headerSortDown">Date Created</th>
            <th id="StatusHead" class="asc" value="status" >
                Status&nbsp;&nbsp;&nbsp;&nbsp;<span id="sortTable"></span>
                <!-- <img src="imgs/sort_down.png" id="ima" width="20px" height="20px" onclick="change()"/> -->
            </th>
            <th id="headergrade" value="grade" >Grade</th>
            <th id="headerSubject" value="subject" >Subject</th>
            <th id="headerSubtopic" value="subtopic" >Sub-topic</th>
            <th id="headerKind" value="content-type" >Kind</th>
        </tr>
    </thead>
    <tbody id="tableBody" style="overflow:auto;">


    </tbody>

</table> 

    
