<div class='lookup-bottom-content'>
	<div class="standards-list">
		<div id="allStandards" class="all-standards">
			<p class="all-std-p">
				All Standards for <b class="untitled-act" id="activityName"></b><i class="icon-question-sign"></i>
			</p>
			<div id="allStdSub" class="all-std-sub">
				<!-- <p class="rate-info-p">Select standard and rate it to enable save button ! -->
				</p>
			</div>
		</div>
	</div>
	<div class="bottom-btns-div pull-right">
		<button id="StandardCancel" class="btn">Cancel</button>
		<button id="standardSave" class="btn save-std-btn" disabled="disabled">Save Standards</button>
	</div>
</div>