  
<div id="subnav_container" style="">
   <div class="align_vertical" style="">
    <ul class="nav" style="margin-left: 9px; margin-top: 5px;">
          <li title="Create New DLA">
            <div id="divCreateDLAIcon" class="nav-DLA" style="margin-left:0"><input type="image" src="imgs/add1.png" name="image" width="15" height="17" ></div>
          </li>

          <li class="disableCursor"><!--Optional-->

          <!-- <li title="Create New Teacher Plan"> -->
            <div class="nav-DLA"><!-- <input type="image" src="imgs/add2.png" style="margin-left:13px;" name="image" width="20" height="21"> --><input class="disableCursor" type="image" src="imgs/selectedPlay.gif" style="margin-left:13px;" name="image" width="20" height="21"></div>
          </li>
          
          <li class="disableCursor"><!--Optional-->
            
            <!-- <li title="Create New Playlist"> -->
            <div class="nav-DLA" style="margin-left:8px;"><!-- <input type="image" src="imgs/add3.png" name="image" width="22" height="17"> --><input  class="disableCursor" type="image" src="imgs/selectedTeach.gif" name="image" width="22" height="17"></div>
          </li>
          <li><a id="bulkUploadBtn" class="bulkUploadBtn" style=""><span>Bulk Upload</span></a></li>
    </ul>   
  </div>
   <div id="sub_nav_right" class=""> 
        <div class="search-loader" >
        </div>  
        <div class="search-result-count" >
        </div>          
        <div class="" id="searchDLA" style="display:inline-block;margin-left: -10px;margin-right: 10px;"> 
            <p class="lence"></p>
            <input type="text" name="search"  results="5" id="search" class="span11" style="background:url('imgs/search.png')no-repeat -2px -2px #FFFFFF"/>

        </div> 
        <div style="display:inline-block;top: -4px;position: relative;">
            <ul class="unstyled" id="Grid_List" style="width:20px;position:relative;top:0px;">
                <li class="dropdown" style="width: 22px;padding: 2px 0px 0px 0px;" >
                    <div id="gridListFlip" style="" class="div_thumb"><img id="img_gridList" src="imgs/iconThumb.png" style="width:18px;height:18px;position: relative;top: 5px;" class="icon"/>
                    </div>

                    <div id="grid_List_View" class="dropdown-menu dropBg1" >
                      <div class="cover"></div>
                      <div class="dropSet-list" id="selectGridView" >
                      <i class="icon-th"/>&nbsp;&nbsp;Grid
                      </div>
                      <div class="dropSet-list" id="selectListView" >
                      <i class="icon-list" />&nbsp;&nbsp;List
                      </div>
                    </div>
                </li>
            </ul> 
        </div>
                    
        <div class="" style="display:inline-block;position: relative;top: -7px;">
            <ul class="unstyled " id="show_ALL_Menu" style="width:70px;">
                <li class="dropdown" style="width:70px">
                    <div  id="showALL" ><img src="imgs/showALL.png" class="height:10px;width:20px;"/></div>
                    <div class="dropdown-menu dropBg1" id="showAllDrop" >
                    </div>
                </li>
            </ul>                 
        </div>
    </div>
</div>


           
              
             
             
                
          
