<div class="navbar-inverse row-fluid" id ="pageHeader">
		</div>
	     
	   
    <!--End Of top navigation-->
		<div class="top-nav navbar navbar-inner" style="display:none;" id="subNavBar">
		</div>
		<div id="bulkUploadDiv" style="display:none;"></div>													
 	<!-- End of Second Navigation bar -->
  
  	<!-- Body -->
 		<!-- Popup box -->

          <div id="addUsersDiv" style="display:none;" >
          </div>
 		<!-- Popup ends -->
 	
		<!-- placeholder for create dla form and iframe -->
		<div id='divAddDLA' >	
			 <div id='divSpinner' class="loadingDiv"></div>	
			  <!-- <img class="loadingImg" src="imgs/loadingcon.gif"/> -->
	 		 <div class="ui-layout-west" id="createDLADiv"  > 


	 		 </div>
		     <div class="ui-layout-center span8" id='iframeDiv' style="padding:0;">
		 		<iframe frameborder="0" scrolling="auto"  id="iframe_dla"></iframe>
		 		<div id="showLoadingImg"></div>
		     </div>
		     <div id="moreInfoWrapper">
		     	
		     </div>
		</div>
	  
        <!-- facebox fro taxonomy lookup -->
        <div id="faceboxLookup" style="display:none"></div>
		
		<div id="scrollableDiv" class="wrapper">
			<div id="noResultGrid" class="noSearchResults"></div>
			<div id="dlaContainer" class="gridViewContainer">
			 </div> 
		</div>


		<div id="listViewWrapper" class="wrapper">
			<div id="noResultList" class="noSearchResults"></div>
			<div id="listViewContainer" class = "gridViewContainer" style="height:90%;">
			</div>
		</div>	

	     <!-- 	<div class="gridViewContainer"  id="dlaContainer" >	  
	     	<img src="imgs/loading.gif" class="page_effect"  />    		
	        </div>   -->
			        
			        	        
		<!-- End of the Body -->
		<!-- Loading all JS files at the end -->

		  <script data-main="js/main" src="js/lib/require.js">
			</script>  
		