.highlight{
  background-color: yellow !important;
  font-weight: bold !important;
}

.node_Description{

    color: #5B5B53;
    font-size: 12px;
    font-weight: 600 !important;
    margin-left: 10%;
}

.node_Description:hover{

    color: #005580;
}

.treeView-Div{
    background-color: #CDCDCD;
    border-bottom-right-radius: 7px !important;
    border-top-right-radius: 7px !important;
    height: 70%;
    overflow: auto;
    padding: 37px 17px 0 0;
    position: absolute;
    right: 1px;
    top: 0;
    width: 61%;
}

.cluster{
  padding-left: 0px !important;
  margin: 0px !important;
}